
<h1>Projects</h1>
<div class="thumb-container">

	{% for project in site.data.settings.projects %}

		<div class="thumb-unit">
			<img id="project-left-image"class="project-image" src="/assets/img/projects/{{ project.folder }}/{{ project.left-icon }}">
			<img id="project-right-image"class="project-image" src="/assets/img/projects/{{ project.folder }}/{{ project.right-icon }}"></img>
			<div class="thumb-overlay" id="{{ project.folder }}-button">
				<div class="project-title-container">
					<!-- <span class="project-title-text">{{ project.name }}</span> -->
				</div>
				<div class="project-tech-container">
					<div class="project-tech-text">{{ project.tech }}</div>
				</div>
			</div>

		</div>

		<div class="project-description-unit">
			<div class="project-description-title">
				{{ project.name }}
			</div>
			<div class="project-description-text">
				{{ project.description }} 
			</div>
		</div>
	{% endfor %}

</div>