
<h1>Projects</h1>
<div class="thumb-container">

	{% for project in site.data.settings.projects %}

		<div class="thumb-unit">
			<img id="project-left-image"class="project-image" src="/assets/img/projects/{{ project.folder }}/{{ project.left-icon }}">
			<img id="project-right-image"class="project-image" src="/assets/img/projects/{{ project.folder }}/{{ project.right-icon }}"></img>
			{% if project.url %}
				<div onclick="location.href='{{ project.url }}'" class="thumb-overlay">
					{% include projects/project-overlay.html %}
				</div>
			{% else %}
				<div class="thumb-overlay no-link">
					{% include projects/project-overlay.html %}
				</div>				
			{% endif %}
		</div>

		<div class="project-description-unit">
			<div class="project-description-title">
				{{ project.name }}
			</div>
			<div class="project-description-text">
				{{ project.description }} 
			</div>
		</div>
	{% endfor %}

</div>