<!-- Sidebar -->
<div id="sidebar-scroll-container">
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="sidebar-brand">
                <a href="#" id="main-button">
                    Jason Loo <span class="fa fa-home fa-lg"></span>
                </a>
            </li>
            <li>
                <a href="#" id="about-me-button">About <span class="fa fa-info fa-lg"></span></a>
            </li>
            <li>
                <a href="#" id="projects-button">Projects <span class="fa fa-paper-plane fa-lg"></span></a>
            </li>
            <li>
                <a href="#" id="blog-button">Blog <span class="fa fa-pencil fa-lg"></span></a>
            </li>
            <li>
                <a href="https://github.com/Nosajool">Github <span class="fa fa-github fa-lg"></span></a>
            </li>
            <li>
                <a href="https://twitter.com/J_waterLoo">Twitter <span class="fa fa-twitter fa-lg"></span></a>
            </li>
            <div class="sidebar-handle-hitbox">
                <div class="sidebar-handle">
                    <div class="sidebar-handle-dot"></div>
                    <div class="sidebar-handle-dot"></div>
                    <div class="sidebar-handle-dot"></div>
                </div>
            </div>
        </ul>
    </div>    
</div>

<!-- /#sidebar-wrapper -->