#wrapper {
    padding-left: 0;
}

#sidebar-wrapper {
    border-right: 1px solid black;
    z-index: 1000;
    position: fixed;
    left: 200px;
    width: 200px;
    height: 100%;
    margin-left: -200px;
    overflow-y: auto;
    background: $sidebar-color;
}

#page-content-wrapper {
    width: 80%;
    padding: 15px;
    margin-left: 200px;
}
