.thumb-container{
	width: 100%;
	height: 300px;
	.thumb-unit{
		width: 60%;
		margin: 10px;
		height: 250px;
		display: block;
		float: left;
		position: relative;
		border: 2px solid black;

		.project-title-container{
			margin-top: 7%;
			text-align: center;
			.project-title-text{
				color: #ABAAAA; // Gray
				font-family: "Helvetica";
				padding: 5px;
				font-size: 65px;
			}
		}
		.project-tech-container{
			position: absolute;
			bottom: 0px;
			width: 100%;
			background-color: fade-out(white, 0.3);
			.project-tech-text{
				left: 5px;
				font-size: 20px;
			}
		}

		.thumb-overlay{
			text-decoration: none;
			color: black;
			position: absolute;
			left: 0px;
			right: 0px;
			top: 0px;
			bottom: 0px;
			background-color: fade-out(white, 0.3);
			&:hover{
				background-color: fade-out(black,0.9);
			}
		}
		.thumb-overlay.no-link{
			&:hover{
				cursor: not-allowed;
			}
		}
	}
}

.project-image{
	position: absolute;
	width: 50%;
	height: 222px;
}

#project-right-image{
	margin-left: 50%;
}

.project-description-unit{
	height: 300px;
	padding-top: 10px;
	.project-description-title{
		font-size: 35px;
	}
	.project-description-text{
		font-size: 20px;
	}
}