.thumb-container{
	// max-width: 960px;
	max-width: 1500px;
	.thumb-unit{
		width: 33%;
		padding-top: 20%;
		margin: 10px;
		/*height: 150px;*/
		display: block;
		float: left;
		position: relative;
		border: 2px solid black;

		.project-title-text{
			margin-top: 20%;
			font-size: 20px;
			text-align: center;
		}

		.thumb-overlay{
			position: absolute;
			left: 0px;
			right: 0px;
			top: 0px;
			bottom: 0px;
			background-color: fade-out(green,0.5);
			&:hover{
				background-color: fade-out(blue,0.5);
			}
		}
	}
}