#sidebar-area{
	.sidebar-button{
		background-color: #B1B17A;
		width: 200px;
		height: 40px;
		font-family: 'Lato';
		text-align: center;
		line-height: 35px;
		font-size: 30px;
		border: 2px solid;
		border-radius: 7px;
		cursor: pointer;
		margin: 10px 0px;
		&:hover{
			background-color: #D1D1A9;
		}
	}
}