.work-container {

	.work-icon {
		margin-left: 10%;
		position: absolute;
	}

	.work-description-container {
		height: 300px;
		margin-bottom: 50px;

		.job-title {
			font-size: 30px;
		}

		.job-employer {
			font-size: 20px;
		}

		.job-date {

		}

		.job-location {

		}

		.job-description {

		}

	}
}

